language: node_js
node_js:
  - 'lts/*'
cache: npm
dist: trusty
sudo: required

before_script:
  - npm ci

script:
  - npm run lint
  - npm run test:ci
  - npm run build:demo -- --base-href https://bjsawyer.github.io/mat-file-upload/

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: dist/demo
  on:
    branch: master
